<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configurationEntries>
		<!--Possible values for the Browser are: Chrome, Firefox-->
		<configEntry key="Browser" value="Chrome">
		</configEntry>
		<!--Local DB connection string-->
		<configEntry key="ConnectionString" value="Data Source=postsdb;Initial Catalog=PostsDB;User ID=sa;Password=@Marko123">
		</configEntry>
		<!--Server Endpoint-->
		<configEntry key="ServerEndpoint" value="http://localhost:7171">
		</configEntry>
		<!--Client Endpoint-->
		<configEntry key="ClientEndpoint" value="http://localhost:3000">
		</configEntry>
	</configurationEntries>
</configuration>