.all-posts {
	flex-direction: column;
}

.posts__list {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc((100% / 3) - var(--normal-gap)), 0.3333fr));
	grid-auto-rows: fit-content;
	grid-gap: var(--normal-gap);
}

.dashboard__filters {
	padding: var(--small-padding);

	display: flex;
	gap: var(--small-gap);
	align-items: center;
	justify-content: flex-end;
}

.dashboard__filters p {
	margin-right: var(--normal-gap);

	font-size: var(--lg-text);
	font-weight: bold;
}

.filter {
	margin: 0 var(--small-gap);

	display: flex;
	gap: var(--small-gap);

	font-size: var(--md-text);
	color: var(--light);
	text-transform: uppercase;
}

/**TABLET*/
@media (min-width: 768px) and (max-width: 1199px) {
	.posts__list {
		grid-template-columns: repeat(auto-fit, minmax(calc((100% / 2) - var(--normal-gap)), 1fr));
	}
}

/**MOBILE*/
@media (max-width: 767px) {
	.posts__list {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	}
}
