.register {
	justify-content: center;
}

.register .container {
	height: 100%;
}

.register .form {
	width: 100%;

	background-color: var(--dark-accent);
	padding: calc(var(--normal-padding) * 2);
	border-radius: var(--card-radius);

	box-shadow: var(--simple-shadow);
}

.register .form__title {
	font-weight: bold;
	align-self: center;
	font-size: var(--huge-text);
}

.register .input {
	background: none;
	outline: none;
}

.register .input:focus {
	border-color: var(--light-accent);
}

/**MOBILE*/
@media (max-width: 767px) {
	.register .form {
		padding: calc(var(--small-padding) * 2);
	}
}
