.register .form {
	width: 100%;
	align-self: center;

	background-color: var(--dark-accent);
	padding: calc(var(--normal-padding) * 2);
	border-radius: var(--card-radius);

	box-shadow: var(--simple-shadow);
}

.register .form__title {
	font-weight: bold;
	align-self: center;
	font-size: var(--huge-text);
}

.register .input {
	background: none;
	outline: none;

	border-bottom: solid 3px var(--light);
	color: var(--text-color);
}

.register .input:focus{
	border-color: var(--light-accent);
}

.register__link {
	margin: var(--small-padding) 0em;
	color: var(--light);
	font-size: var(--lg-text);

	cursor: pointer;
}

.register__link:hover {
	color: var(--text-color);
}
