.register .form {
	width: 100%;
	align-self: center;

	background-color: var(--dark-accent);
	padding: calc(var(--normal-padding) * 2);
	border-radius: var(--card-radius);

	box-shadow: var(--simple-shadow);
}

.register .form__title {
	font-weight: bold;
	align-self: center;
	font-size: var(--huge-text);
}

.register .input {
	background: none;
	outline: none;

	border-bottom: solid 3px var(--light);
	color: var(--text-color);
}

.register .input:focus {
	border-color: var(--light-accent);
}
