.login {
	align-items: center;
	justify-content: center;
	position: relative;
}

.login .container {
	width: 30%;
}

.login .form {
	background-color: var(--dark-accent);
}

/**TABLET*/
@media (max-width: 1199px) {
	.login .container {
		width: 50%;
	}
}

/**MOBILE*/
@media (max-width: 767px) {
	.login .container {
		width: 90%;
	}
}
