.page {
	width: 100%;
	min-height: 100vh;
	padding: var(--page-padding);

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: var(--dark);
	color: var(--text-color);
}

.container {
	width: var(--container-width);

	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);
}

.container__title {
	width: 100%;
	word-wrap: break-word;

	font-size: var(--huge-text);
	font-weight: bold;
	line-height: 1;
}

.container__description {
	color: var(--light);
	font-size: var(--lg-text);
	line-height: 1.25;

	word-wrap: break-word;
}

.container__back {
	width: fit-content;
	padding: 0.25em 0.5em;

	background-color: var(--dark-accent);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	color: var(--text-color);
	font-size: var(--big-text);
	text-transform: uppercase;

	cursor: pointer;
}

.container__back:hover {
	opacity: 0.75;
}

.container__footer {
	padding-top: var(--small-padding);
}

.info__message {
	width: fit-content;
	padding: 1em;
	margin: 0.5em 0em;

	background-color: var(--dark-accent);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	color: var(--text-color);
	font-size: var(--big-text);
	text-transform: uppercase;

	animation: fade-in-out 2s ease-in infinite;
}

.error,
.error__message {
	color: var(--danger);
}

.error {
	font-size: var(--lg-text);
	font-weight: bold;
}

.error__message {
	font-size: var(--md-text);
}

.no__animation {
	animation: none;
}

.link {
	color: var(--light);
	font-size: var(--md-text);
	cursor: pointer;
}

.link:hover,
.link:focus {
	color: var(--text-color);
}

/**MOBILE*/
@media (max-width: 767px) {
	.container__back {
		padding: 0.125em 0.25em;
	}

	.info__message {
		padding: 0.5em;
		margin: 0.5em 0em;

		text-align: center;
	}
}
