@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");

:root {
	/**COLORS*/
	--dark: rgb(32, 32, 32);
	--dark-accent: rgb(51, 53, 51);
	--dark-accent-decimal: 51, 53, 51;
	--light: rgb(173, 221, 208);
	--light-accent: rgb(96, 126, 170);
	--light-accent-decimal: 96, 126, 170;
	--danger: rgb(210, 43, 43);

	/**TEXT*/
	--main-font: "Open Sans", sans-serif;
	--base-font-size: 18px;
	--text-color: #f9f5eb;

	--s-text: 0.85rem;
	--md-text: 1rem;
	--lg-text: 1.25rem;
	--big-text: 1.75rem;
	--huge-text: 2.5rem;

	/**WIDTHS, HEIGHTS, GAPS, PADDINGS*/
	--container-width: 75%;
	--normal-gap: 1em;
	--small-gap: 0.25em;
	--small-padding: 0.5em;
	--normal-padding: 1em;

	/**UTILITY*/
	--card-radius: 0.5em;
	--button-radius: 0.25em;
	--simple-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	--page-padding: var(--normal-padding) 0em;
	--header-height: 3em;
}

/**TABLET*/
@media (min-width: 768px) and (max-width: 1199px) {
	:root {
		/**WIDTHS, HEIGHTS, GAPS*/
		--container-width: 90%;
		--normal-gap: 0.75em;
		--small-gap: 0.25em;

		/**TEXT*/
		--s-text: 0.75em;
		--md-text: 1em;
		--lg-text: 1.15em;
		--big-text: 1.5em;
		--huge-text: 2.15em;
	}
}

/**TABLET*/
@media (max-width: 767px) {
	:root {
		/**WIDTHS, HEIGHTS, GAPS*/
		--container-width: 90%;
		--normal-gap: 0.5em;
		--small-gap: 0.25em;

		/**TEXT*/
		--s-text: 0.75em;
		--md-text: 0.95em;
		--lg-text: 1.15em;
		--big-text: 1.35em;
		--huge-text: 1.85em;
	}
}

/**ANIMATIONS*/

@keyframes fade-in-out {
	50% {
		opacity: 0.5;
	}
}

@keyframes dot-buffer {
	50% {
		opacity: 0.25;
		transform: scale(0.75);
	}
}
