.button {
	width: 100%;
	padding: 0.25em 0;

	outline: none;
	border: none;
	background-color: var(--light-accent);
	border-radius: var(--button-radius);

	font-size: 2rem;
	color: var(--text-color);

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
}

.button:hover,
.button:focus {
	opacity: 0.85;
}

/**MOBILE*/
@media (max-width: 767px) {
	.button {
		font-size: 1.5rem;
		padding: 0.25em 0em;
	}
}
