.button {
  width: 100%;
  padding: var(--small-padding);

  outline: none;
  border: none;
  background-color: var(--light-accent);
  border-radius: var(--button-radius);

  color: var(--text-color);
  font-size: var(--lg-text);
  font-weight: bold;
  font-family: var(--header-font);
  text-transform: uppercase;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.button:hover {
  opacity: 0.85;
}

/**TABLET*/
@media (max-width: 1199px) {
}

/**MOBILE*/
@media (max-width: 767px) {
}
