.details {
  align-items: center;
  height: 100%;
}

.details-header {
  margin: 2em 0em;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-title {
  width: fit-content;
  border-bottom: solid 3px;
  padding-bottom: var(--small-padding);
  margin-bottom: 0.5em;

  font-size: var(--huge-text);
  font-weight: bold;
  text-align: center;
}

.details-header .author-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2em;
}

.details-header .box {
  display: flex;
  align-items: center;

  gap: var(--normal-gap);
}

.details-header .author-container svg {
  transform: scale(1.5);
  fill: var(--light);
}

.details .error,
.details .success {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--header-font);

  margin-top: 1em;
}

.details-container {
  position: relative;
  width: 100%;

  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-container .content {
  width: 100%;
  min-height: 20vh;
  max-height: 40vh;

  padding: var(--normal-padding);

  background-color: rgba(var(--dark-accent-decimal), 0.25);
  border-radius: var(--button-radius);

  font-size: var(--md-text);
  text-align: justify;
  white-space: pre-wrap;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--light) var(--dark-accent);
}

.details-container .content.disabled {
  display: none;
}

.details-container textarea {
  width: 100%;
  min-height: 20vh;
  max-height: 40vh;

  padding: var(--normal-padding);

  border: none;
  background-color: var(--dark-accent);
  border-radius: var(--button-radius);
  box-shadow: var(--simple-shadow);
  outline: none;

  color: var(--text-color);
  font-size: var(--md-text);
  text-align: justify;
  white-space: pre-wrap;

  resize: none;
  display: none;
}

.details-container textarea.open {
  display: block;
}

.details-update-controls {
  width: 100%;

  margin-top: var(--normal-gap);

  display: flex;
  justify-content: flex-start;
  gap: var(--normal-gap);
}

.update-control {
  width: fit-content;
}

/**TABLET*/
@media (max-width: 1199px) {
}

/**MOBILE*/
@media (max-width: 767px) {
  .author-container .box .author,
  .author-container .box .date {
    font-size: var(--s-text);
  }

  .details-header .author-container svg {
    transform: scale(1.25);
  }

  .details-container {
    position: relative;
    width: 100%;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .details-container .content {
    padding: var(--small-padding);
  }

  .details-container textarea {
    padding: var(--small-padding);
  }

  .details-update-controls {
    width: 100%;

    margin-top: var(--normal-gap);

    display: flex;
    justify-content: flex-start;
    gap: var(--normal-gap);
  }
}
