.details {
	align-items: center;
	height: 100%;
}

.details-header {
	margin: 2em 0em;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.details-title {
	width: fit-content;
	border-bottom: solid 3px;
	padding-bottom: 0.125em;
	margin-bottom: 0.5em;

	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}

.details-header .author-container {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	gap: 1em;
}

.details-header .author-container svg {
	transform: scale(1.25);
	fill: var(--light);
}

.details .error,
.details .success {
	font-size: 1rem;
	text-transform: uppercase;
	font-family: var(--header-font);

	margin-top: 1em;
}

.details-container {
	position: relative;
	width: 100%;
	height: auto;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.details-container .content {
	width: 100%;
	font-size: 1rem;
	white-space: pre-wrap;

	background-color: rgba(var(--dark-accent-decimal), 0.25);
	border-radius: var(--button-radius);

	text-align: justify;
	padding: var(--normal-padding);

	overflow: scroll;
	scrollbar-color: var(--light);
	max-height: 500px;

	scrollbar-color: var(--light) var(--dark-accent);
	scrollbar-width: auto;
}

.details-container .content.disabled {
	display: none;
}

.details-container textarea {
	width: 100%;
	padding: var(--normal-padding);

	outline: none;
	border: none;
	background-color: var(--dark-accent);
	border-radius: var(--button-radius);
	box-shadow: var(--simple-shadow);

	color: var(--text-color);
	font-size: 1rem;
	text-align: justify;
	white-space: pre-wrap;

	resize: none;
	display: none;
}

.details-container textarea.open {
	display: block;
}

.details-update-controls {
	width: 100%;

	margin-top: 1em;

	display: flex;
	justify-content: flex-start;
	gap: 1em;
}

.update-control {
	font-size: 1rem;

	width: fit-content;
}
