.home {
	align-items: center;
}

.all-posts {
	flex-direction: column;
}

.posts-list {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc((100% / 3) - var(--normal-gap)), 0.33fr));
	grid-auto-rows: fit-content;
	grid-gap: 1em;
}

/**TABLET*/
@media (min-width: 768px) and (max-width: 1199px) {
	.posts-list {
		grid-template-columns: repeat(auto-fit, minmax(calc((100% / 2) - var(--normal-gap)), 0.5fr));
	}
}

/**MOBILE*/
@media (max-width: 767px) {
	.posts-list {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	}
}
