.logo {
  width: 100px;
  position: absolute;
  top: var(--normal-gap);
  left: var(--normal-gap);

  cursor: pointer;
}

/**TABLET*/
@media (max-width: 1199px) {
  .logo {
    width: 60px;
    position: absolute;
    top: 0.5em;
  }
}

/**MOBILE*/
@media (max-width: 767px) {
  .logo {
    width: 50px;
    top: 0.5em;
  }
}
