.chat {
  align-items: center;
}

.chat-container {
  width: 100%;
  height: 70vh;

  display: flex;
  align-items: center;
  gap: var(--normal-gap);
}

.user-list {
  width: 20%;
  height: 100%;

  background-color: var(--accent);
  border-radius: var(--card-radius);
  overflow-y: scroll;
}

.user-card {
  width: 100%;
  display: flex;
  align-items: center;

  padding: var(--normal-padding);

  cursor: pointer;
}

.user-card.active {
  background-color: rgba(32, 32, 32, 0.75);
}

.user-card.unread {
  font-weight: bold;
}

.user-card:hover {
  background-color: rgba(32, 32, 32, 0.75);
}

.user-icon {
  width: 1em;
  height: 1em;
  padding: 1.5em;
  margin-right: var(--normal-gap);

  background-color: var(--dark);
  border-radius: 50%;

  display: grid;
  place-content: center;
}

.user-name {
  font-size: var(--md-text);
  letter-spacing: 1px;
}

.user-unreads {
  width: 1em;
  height: 1em;
  padding: var(--normal-padding);
  display: grid;
  place-content: center;

  margin-left: var(--normal-gap);

  background-color: var(--light-accent);
  border-radius: 50%;
}

.messages {
  width: 80%;
  height: 100%;

  background-color: var(--dark-accent);
  border-radius: var(--card-radius);

  display: flex;
  justify-content: center;
}

.info-message {
  margin-top: var(--normal-gap);
  color: var(--light);
}

.message-container {
  width: 100%;
  height: 100%;

  position: relative;
}

.handle {
  padding: var(--normal-padding);
  background-color: rgba(32, 32, 32, 0.75);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.handle .user-icon {
  margin: 0;
  margin-bottom: var(--small-gap);
  background-color: var(--light-accent);
}

.handle .user-name {
  font-size: var(--s-text);
  font-weight: bold;
}

.message-list {
  width: 100%;
  height: 100%;

  max-height: 50vh;

  padding: var(--normal-padding);

  display: flex;
  flex-direction: column;
  gap: 0.5em;

  overflow-y: scroll;
}

.message {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
}

.message-date {
  align-self: center;
}

.message.author {
  align-items: end;
}

.message-box {
  display: flex;
  align-items: center;
}

.message-content {
  display: inline-block;
  padding: var(--small-padding);
  background-color: var(--light-accent);

  border-radius: var(--card-radius);
}

.message-handle {
  width: var(--small-padding);
  height: var(--small-padding);
  padding: var(--normal-padding);
  margin-right: var(--normal-gap);

  font-size: var(--s-text);
  background-color: var(--light-accent);
  border-radius: 50%;

  display: grid;
  place-content: center;

  visibility: hidden;
}

.message-handle.show {
  visibility: visible;
}

.message.author .message-content {
  background-color: var(--accent);
  margin-left: 0;
}

.message-area {
  padding: var(--normal-padding);
  position: absolute;
  bottom: 0;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: var(--normal-gap);
}

.message-input {
  width: 100%;
  margin: 0;
  padding: var(--small-padding) var(--normal-padding);

  background-color: rgba(32, 32, 32, 0.75);
  border: none;
  border-radius: var(--card-radius);
  outline: none;

  color: var(--text);
  font-size: var(--md-text);
}

.message-input.empty {
  border: solid 2px var(--error-flat);
}

.send-icon {
  display: grid;
  place-content: center;
  padding: 1em;

  border-radius: 50%;

  font-size: var(--lg-text);

  cursor: pointer;
}

.send-icon:hover {
  background-color: rgba(32, 32, 32, 0.75);
}

.send-icon svg {
  transform: translateX(15%);
}

/**TABLET*/
@media (max-width: 1199px) {
}

/**MOBILE*/
@media (max-width: 767px) {
  .chat {
    align-items: center;
  }

  .chat-container {
    gap: 0;
  }

  .user-list {
    border-radius: 0;
  }

  .user-card {
    position: relative;
    flex-direction: column;

    gap: var(--small-gap);
    padding: var(--small-padding);
  }

  .user-icon {
    width: 0.5em;
    height: 0.5em;
    padding: var(--normal-padding);
    margin-right: 0;

    font-size: var(--xs-text);
  }

  .user-name {
    text-align: center;
    font-size: var(--xs-text);
    letter-spacing: 0px;
  }

  .user-unreads {
    position: absolute;
    right: 0;
    top: 0;
    left: 65%;

    width: 0.75em;
    height: 0.75em;
    padding: 0.65em;
    margin: 0;

    font-size: var(--xs-text);

    transform: translateX(-50%);
  }

  .messages {
    border-radius: 0;
  }

  .info-message {
    margin-top: var(--normal-gap);
    padding: var(--small-padding);

    text-align: center;
  }

  .handle {
    padding: var(--small-padding);

    display: flex;
    flex-direction: row;
    gap: var(--normal-gap);
  }

  .handle .user-icon {
    margin: 0;
  }

  .handle .user-name {
    font-size: var(--s-text);
  }

  .message-list {
    padding: var(--small-padding);
  }

  .message-date {
    font-size: var(--s-text);
  }

  .message.author {
    align-items: end;
  }

  .message-content {
    padding: var(--small-padding);
    font-size: var(--s-text);
  }

  .message-handle {
    margin-right: var(--small-gap);

    font-size: var(--xs-text);
  }

  .message-area {
    padding: var(--normal-padding);
    position: absolute;
    bottom: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: var(--normal-gap);
  }

  .message-input {
    width: 100%;
    padding: var(--small-padding);

    font-size: var(--s-text);
  }

  .message-input.empty {
    border: solid 2px var(--error-flat);
  }

  .send-icon {
    padding: 0.5em;
    background-color: rgba(32, 32, 32, 0.75);

    font-size: var(--s-text);
  }
}
