.create-post .input {
  font-size: var(--md-text);
  padding-left: 2.5em;
}

.create-post .input-text {
  font-size: var(--s-text);
  padding-left: 1em;
}

.modal-container {
  width: 40%;
}

/**TABLET*/
@media (max-width: 1199px) {
}

/**MOBILE*/
@media (max-width: 767px) {
  .create-post .input {
    padding-left: 1.5em;
  }

  .create-post .input-text {
    padding-left: 0.5em;
  }
}
