.post {
	position: relative;
	padding: 2em var(--normal-padding);

	background-color: var(--dark-accent);

	display: flex;
	flex-direction: column;
	height: 100%;

	min-height: 200px;

	cursor: pointer;
}

.post.hidden {
	opacity: 0.25;
}

.post:hover {
	background-color: rgba(var(--dark-accent-decimal), 0.75);
}

.post-icon {
	padding: 0.35em;
	position: absolute;
	top: 0.5em;

	border-radius: 50%;
	background-color: var(--dark);

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: var(--md-text);
}

.post-icon.hide {
	left: 1em;
}

.post-icon.delete {
	right: 1em;
}

.post-icon.delete:hover {
	color: var(--error);
}

.post-icon.update {
	right: 3.5em;
}

.post-icon.hide:hover,
.post-icon.update:hover {
	color: var(--light);
}

.post-date {
	margin-top: 1rem;

	font-size: 0.75rem;
	font-weight: bold;
	color: var(--light);
}

.post-title {
	margin-bottom: 0.5rem;

	font-size: 1.5rem;
	font-weight: bold;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-content {
	font-size: 0.85rem;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* number of lines to show */
	line-clamp: 3;
}

/**TABLET*/
@media (min-width: 768px) and (max-width: 1199px) {
	.post {
		padding: 2.5em 1.25em;
	}

	.post-icon {
		width: 1.65em;
		height: 1.65em;
	}

	.post-icon.delete {
		color: var(--danger);
	}
}

/**MOBILE*/
@media (max-width: 767px) {
	.post {
		width: 100%;
		padding: 2.5em 1em;
	}

	.post-icon {
		width: 1.5em;
		height: 1.5em;
	}

	.post-icon.delete {
		color: var(--danger);
	}
}
