.container {
	width: var(--container-width);
}

.container__title {
	width: 100%;
	word-wrap: break-word;

	font-size: var(--huge-text);
	font-weight: bold;
	line-height: 1;
}

.container__subtitle {
	font-size: var(--lg-text);
	font-weight: bold;
	color: var(--light);

	margin: var(--small-padding) 0;
}

.container__description {
	color: var(--light);
	font-size: var(--lg-text);
	line-height: 1.25;

	word-wrap: break-word;
}

.container__back {
	width: fit-content;
	padding: 0.25em 0.5em;

	background-color: var(--dark-accent);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	color: var(--text-color);
	font-size: var(--big-text);
	text-transform: uppercase;

	cursor: pointer;
}

.container__back:hover {
	opacity: 0.75;
}

.container__footer {
	padding-top: var(--small-padding);

	display: flex;
	flex-direction: column;
	gap: var(--small-gap);
}

.info__message {
	width: fit-content;
	padding: 1em;
	margin: 0.5em 0em;

	background-color: var(--dark-accent);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	color: var(--text-color);
	font-size: var(--big-text);
	text-transform: uppercase;

	animation: fade-in-out 2s ease-in infinite;
}

.error {
	color: var(--error);
	font-size: 1rem;
}

.success {
	color: var(--success);
	font-size: 1rem;
}

.no__animation {
	animation: none;
}

.link {
	color: var(--light);
	font-size: 1rem;
	cursor: pointer;
}

.link:hover,
.link:focus {
	color: var(--text-color);
}

/**MOBILE*/
@media (max-width: 767px) {
	.container__back {
		padding: 0.125em 0.25em;
	}

	.info__message {
		padding: 0.5em;
		margin: 0.5em 0em;

		text-align: center;
	}

	.link {
		font-size: 0.85rem;
	}
}
