.admin {
  align-items: center;
  height: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;

  border-radius: 2rem;

  box-shadow: var(--simple-shadow);
}

.table thead {
  background-color: var(--light-accent);
}

.table thead th {
  text-transform: uppercase;
  font-size: var(--md-text);
  letter-spacing: 1px;
}

.table tbody tr {
  background-color: var(--dark-accent);
}

.table tbody tr.odd {
  background-color: var(--accent);
}

.table th,
.table td {
  text-align: start;

  padding: var(--normal-padding);
}

.table-badge {
  margin: 0em var(--small-gap);
  padding: var(--xs-padding);
  background-color: var(--light-accent);
  border-radius: var(--button-radius);

  font-size: var(--s-text);
  text-transform: uppercase;
}

.table-button {
  margin: 0em var(--small-gap);
  padding: var(--small-padding);
  border-radius: var(--button-radius);

  color: var(--text-color);
  font-size: var(--md-text);
  text-transform: uppercase;
  letter-spacing: 1px;

  cursor: pointer;
}

.table-button:hover {
  opacity: 0.75;
}

.table-button.success {
  color: var(--text-color);
  background-color: var(--success-flat);
}

.table-button.error {
  color: var(--text-color);
  background-color: var(--error-flat);
}

.table-button.warning {
  color: var(--text-color);
  background-color: var(--warning);
}

.admin .messages {
  margin: var(--normal-gap) 0;
}
