

.error {
	color: var(--error);
	font-size: 1rem;
}

.success {
	color: var(--success);
	font-size: 1rem;
}

.no__animation {
	animation: none;
}

.link {
	color: var(--light);
	font-size: 1rem;
	cursor: pointer;
}

.link:hover,
.link:focus {
	color: var(--text-color);
}

/**MOBILE*/
@media (max-width: 767px) {
	.container__back {
		padding: 0.125em 0.25em;
	}

	.info__message {
		padding: 0.5em;
		margin: 0.5em 0em;

		text-align: center;
	}

	.link {
		font-size: 0.85rem;
	}
}
