.form {
	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);

	color: var(--text-color);
}

.form__group {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: var(--small-gap);
}

.input__label {
	color: var(--light);
	font-size: var(--md-text);
}

.input {
	padding: 0.25em var(--small-padding);
	background-color: var(--text-color);
	border: none;

	color: var(--dark);
	font-size: var(--lg-text);
	resize: none;
}

.input::placeholder {
	font-size: var(--s-text);
}

.input:focus {
	outline: solid 2px var(--light-accent);
}

.form__group textarea {
	font-size: var(--md-text);
}

.form__actions {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);
}

.form__confirmational {
	font-size: var(--big-text);
	text-align: justify;
}

/**MOBILE*/
@media (max-width: 767px) {
	.input {
		padding: 0.25em;
	}
}
