/**MOBILE-NAV SPECIFIC CSS*/
@media (max-width: 1199px) {
	.mobile__nav {
		width: 100%;
		min-height: var(--header-height);

		padding: var(--small-padding) 0em;
		padding-right: calc((100% - var(--container-width)) / 2);

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		gap: 8px;

		cursor: pointer;
		z-index: 2;
	}

	.hamburger__line {
		display: block;
		width: 3em;
		height: 6px;

		background: var(--text-color);
		border-radius: var(--card-radius);

		transform-origin: 6px 0px;

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.5s ease;
	}

	.hamburger__line:nth-of-type(1) {
		transform-origin: 0% 0%;
	}

	.hamburger__line:nth-of-type(3) {
		transform-origin: 0% 100%;
	}

	.nav__content {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.75);

		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;

		padding-right: calc((100% - var(--container-width)) / 2);
		padding-bottom: var(--normal-padding);

		opacity: 0;
		transition: opacity 0.5s ease;
		pointer-events: none;
		z-index: 1;
	}

	.nav__content > * {
		transform: translateX(1000px);

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	}

	.mobile__nav.open .nav__content {
		opacity: 1;
		z-index: 1;
		touch-action: none;
		pointer-events: all;
	}

	.mobile__nav.open .nav__content > * {
		transform: translateX(0);
	}

	.mobile__nav.open .hamburger__line {
		transform: rotate(45deg) translateY(-6px);
		background-color: var(--light);
	}

	.mobile__nav.open .hamburger__line.hamburger__line:nth-of-type(2) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.mobile__nav.open .hamburger__line.hamburger__line:last-of-type {
		transform: rotate(-45deg) translateY(6px);
	}

	.nav__separator {
		display: none;
	}
}

@media (max-width: 767px) {
	.hamburger__line {
		width: 2em;
		height: 4px;

		transform-origin: 2px 0;
	}

	.mobile__nav.open .hamburger__line {
		transform: rotate(45deg) translateY(0px);
	}

	.mobile__nav.open .hamburger__line.hamburger__line:last-of-type {
		transform: rotate(-45deg) translateY(1px);
	}
}
