.nav,
.mobile__nav {
	width: var(--container-width);
	padding: 0.25em 0em;
}

.nav__content {
	width: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: var(--normal-gap);
}

.nav__username {
	color: var(--text-color);
	white-space: nowrap;
	font-size: 1.5em;
	text-transform: capitalize;
}

.nav__username span {
	color: var(--light);
	font-weight: bold;
}

.nav__separator {
	width: 0.25em;

	background-color: var(--text-color);
	border-radius: var(--card-radius);
	align-self: stretch;
}

.nav__actions {
	width: fit-content;
	display: flex;
	align-items: center;
	gap: var(--small-gap);
}

.nav__actions .button {
	padding: 0.25em 0.35em;

	background-color: var(--dark-accent);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	color: var(--text-color);
	font-size: 1.5em;
	text-transform: uppercase;

	cursor: pointer;
}

.nav__hamburger {
	position: absolute;

	display: none;
	flex-direction: column;
	gap: 5px;
}

.hamburger__line {
	display: block;
	width: 2em;
	height: 4px;

	background: var(--text-color);
	border-radius: var(--card-radius);

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.hamburger__line:nth-of-type(1) {
	transform-origin: 0% 0%;
}

.hamburger__line:nth-of-type(3) {
	transform-origin: 0% 100%;
}

@media (max-width: 1199px) {
	.mobile__nav {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2em;
	}

	.nav__hamburger {
		display: flex;
		cursor: pointer;
	}

	.nav__content {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.75);
		opacity: 0;
	}

	.nav__content > * {
		transform: translateX(5000px);
	}

	.mobile__nav.open .nav__content {
		opacity: 1;
	}

	.mobile__nav.open .nav__content > * {
		transform: translateX(0);
	}
}
