.post {
	position: relative;
	width: calc((100% / 3) - var(--normal-gap));
	padding: 3em 2em;

	background-color: var(--dark-accent);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	align-self: stretch;
	display: flex;
	flex-direction: column;
	gap: var(--small-gap);

	cursor: pointer;
}

.post:hover {
	background-color: rgba(var(--dark-accent-decimal), 0.75);
}

.post__icon {
	width: 2em;
	height: 2em;
	position: absolute;
	top: 0.5em;

	border-radius: 50%;
	background-color: var(--dark);

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1em;
}

.post__id {
	left: 0.5em;
}

.post__delete {
	right: 0.5em;
}

.post__delete p {
	font-weight: bold;
	font-size: 1.5em;
}

.post__delete:hover p {
	color: var(--danger);
}

.post__update {
	right: 3em;
}

.post__update:hover {
	color: var(--light);
}

.post__title,
.post__content {
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.post__title {
	color: var(--light);
	font-size: 2em;
	font-weight: bold;
}

.post__content {
	text-align: justify;
	-webkit-line-clamp: 5; /* number of lines to show */
	line-clamp: 5;
}

/**TABLET*/
@media (min-width: 768px) and (max-width: 1199px) {
	.post {
		width: calc((100% / 2) - var(--normal-gap));
		padding: 2.5em 1.25em;
	}

	.post__title {
		font-size: 2em;
	}

	.post__icon {
		width: 1.85em;
		height: 1.85em;
	}

	.post__delete p {
		color: var(--danger);
	}
}

/**TABLET*/
@media (max-width: 767px) {
	.post {
		width: 100%;
		padding: 2.5em 1em;
	}

	.post__icon {
		width: 1.75em;
		height: 1.75em;
	}

	.post__delete p {
		color: var(--danger);
	}
}
