button {
	all: unset;
}

.select__container {
	position: relative;
	width: 100%;
	padding: var(--normal-padding) var(--small-padding);

	border: solid 2px var(--text-color);
	border-radius: var(--button-radius);

	display: flex;
	align-items: center;
	gap: var(--normal-gap);

	color: var(--text-color);
	cursor: pointer;
}

.select__value {
	font-size: var(--lg-text);
	width: 100%;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.select__utility {
	width: fit-content;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--small-gap);

	font-size: var(--big-text);
}

.select__clear {
	background: none;
	border: none;
	outline: none;

	color: var(--text-color);

	cursor: pointer;
}

.select__clear:hover {
	color: var(--light-accent);
}

.select__separator {
	width: 0.1em;
	background-color: var(--text-color);
	border-radius: var(--button-radius);

	align-self: stretch;
}

.select__arrow {
	translate: 0% 35%;
	border: 0.25em solid transparent;
	border-top-color: var(--text-color);
}

.select__arrow.open {
	translate: 0% -35%;
	border-top-color: transparent;
	border-bottom-color: var(--text-color);
}

.select__options {
	position: absolute;
	width: 100%;
	left: 0;
	top: calc(100% + var(--small-gap));

	border-radius: var(--button-radius);
	max-height: 15em;

	display: none;

	list-style: none;
	overflow-y: auto;
	z-index: 100;
}

.select__options.show {
	display: block;
}

.select__option {
	padding: var(--small-padding);
	background-color: var(--dark);

	font-size: var(--md-text);
	color: var(--text-color);

	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	cursor: pointer;
}

.select__option.selected {
	background-color: var(--light-accent);
}

.select__option.highlighted {
	background-color: var(--light);
	color: var(--dark);
}

@media (min-width: 768px) and (max-width: 1199px) {
	.select__value {
		font-size: var(--lg-text);
	}

	.select__option {
		font-size: var(--md-text);
	}
}

@media (max-width: 767px) {
	.select__value {
		font-size: var(--md-text);
	}

	.select__utility {
		font-size: var(--md-text);
	}

	.select__option {
		font-size: var(--s-text);
	}
}
