.allowed__users__container {
	width: 100%;
}

.users__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--normal-gap);

	margin-bottom: var(--normal-gap);
}

.user {
	width: fit-content;
	padding: var(--small-padding) var(--normal-padding);

	border-radius: var(--card-radius);
	background-color: var(--dark);

	display: flex;
	align-items: center;
	gap: var(--normal-gap);

	opacity: 0.75;
}

.user.allowed {
	opacity: 1;
}

.user > p {
	margin-right: var(--normal-gap);

	font-size: var(--md-text);
	font-weight: bold;
	color: var(--text-color);
}

.user span {
	width: 5em;
	height: 5em;

	border-radius: 50%;
	box-shadow: var(--simple-shadow);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: var(--text-color);
	cursor: pointer;
}

.user span p {
	font-size: var(--s-text);
}

.user__add {
	border: solid 2px var(--light);
}

.user__remove {
	border: solid 2px var(--danger);
}
