.login {
	align-items: center;
	justify-content: center;
	position: relative;
}

.logo {
	width: 100px;
	position: absolute;
	top: 1em;
	left: 1em;
}

.login .container {
	width: 40%;
}

.login .form {
	background-color: var(--dark-accent);
}
