.container {
  width: var(--container-width);
  height: fit-content;
}

.container-title {
  width: 100%;

  font-size: var(--huge-text);
  font-weight: bold;
}

.container-desc {
  font-size: var(--md-text);
  color: var(--light);

  margin-bottom: var(--normal-gap);
}
