.post-editor {
	padding: 1em;

	background-color: var(--dark-accent);
}

.post-editor .toolbar {
}

.post-editor .toolbar {
	color: black;
}

.post-editor .editor {
	padding: 1em;
	border: solid 2px var(--text-color);
}
